
/* CSS Stage 1 */

:root {
    --text-color: linear-gradient(to right, #FF3131, #FF914D);
    --background-color: linear-gradient(to right, #FF3131, #FF914D);
    --border-color: #FF3131;
}

body {
    color: #fff;
}

.bg-title-product {
    --tw-bg-opacity: 1;
    background-color: rgb(52 55 59/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    background-image: url('public/img/card/bg-title-product.svg');
    background-repeat: repeat-x;
    background-position: top;
    background-size: clamp(60em,100rem,100em) auto,cover;
}
.bg-murky-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(157 165 171/var(--tw-bg-opacity));
}
.bg-murky-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(74 81 87/var(--tw-bg-opacity));
}
.bg-murky-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(61 67 72/var(--tw-bg-opacity));
}
.bg-murky-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(52 55 59/var(--tw-bg-opacity));
}
.bg-murky-900 {
    background-color: #24293e;
}
.bg-transparent {
    background-color: transparent;
}
.border-b .border-y {
    border-bottom-width: 1px;
}
.border-transparent {
    border-color: transparent;
}
.border-murky-600 {
    --tw-border-opacity: 1;
    border-color: rgb(74 81 87/var(--tw-border-opacity));
}
.border-murky-800 {
    --tw-border-opacity: 1;
    border-color: rgb(52 55 59/var(--tw-border-opacity));
}
.border-murky-800\/75 {
    border-color: rgba(52,55,59,.75);
}

.content {
    margin-top: 55px;
    max-width: 100%;
}
@media only screen and (min-width: 768px) {
    .content {
        margin-top: 85px;
    }
}
.x-bg-g {
    background: var(--background-color);
}
.x-btn-g {
    background-image: var(--background-color);
}
.x-color-g {
    background: var(--text-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.x-border {
    border-color: var(--border-color);
}
.lazy-image {
    filter: blur(10px);
    transition: filter 0.5s ease-in-out;
}
.lazy-image.loaded {
    filter: blur(0);
}

#searchResults {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 65px;
    z-index: 999;
    overflow: auto;
    background: rgba(30, 32, 34, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
    #searchResults {
        width: 100%;
        margin-top: 27px;
        padding: 0px 20px;
        position: fixed;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
#searchInput:not(:placeholder-shown) + #searchResults {
    display: block;
}
.search-result a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.result-image {
    max-width: 80px;
    height: 55px;
    margin-right: 10px;
    border-radius: 8px;
}
.result-name {
    margin: 0;
    margin-left: 5px;
    flex: nowrap;
}
#backdrop {
backdrop-filter: blur(8px);
}
#static-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.img-games-invoice img {
    height: 80%;
    width: 80%;
    border-radius: 12px;
}

.select-check {
    border-top-left-radius: 12px;
    border-bottom-right-radius: 6px;
}

.custom-input {
    background-color: #D1D5DB;
    color: #010101;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 12px;
    border: none!important;
    outline: none!important;
}
.custom-input:focus {
    background-color: white;
    border: none!important;
    outline: none!important;
    box-shadow: none;
}

.text-ellipsis {
    max-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* CSS Stage 2 */

.skeleton-banner {
width: 100%;
min-height: 131.5px;
padding: 25px 28px 35px 28px;
border-radius: 14px;
overflow: hidden;
background-color: rgba(74, 81, 87, 1);
animation: pulse 1.5s infinite alternate;
}

@media (min-width: 768px) {
.skeleton-banner {
    min-height: 283px;
}
}
.skeleton-fs {
width: 100%;
min-height: 80px;
padding-right: 30px;
border-radius: 14px;
overflow: hidden;
background-color: rgba(74, 81, 87, 1);
animation: pulse 1.5s infinite alternate;
}
.skeleton-card {
min-height: 150px;
border-radius: 14px;
overflow: hidden;
background-color: rgba(74, 81, 87, 1);
animation: pulse 1.5s infinite alternate;
}
@media (min-width: 768px) {
.skeleton-card {
    min-height: 210px;
}
}
.skeleton-berita {
min-height: 180px;
border-radius: 14px;
overflow: hidden;
background-color: rgba(74, 81, 87, 1);
animation: pulse 1.5s infinite alternate;
}
@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.swiper-container {
width: 100%;
height: 190px;
overflow: hidden;
padding-bottom: 35px;
}
@media (min-width: 768px){
    .swiper-container {
    padding: 35px;
    height: 380px;
    }
}
@media (min-width: 1024px){
    .swiper-container {
    padding: 35px;
    height: 470px;
    }
}
.swiper-slide {
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
}
.swiper-slide img {
display: block;
width: 100%;
height: 100%;
border-radius: 12px;
}
.swiper-pagination {
position: relative;
margin-top: 15px;
height: 48px;
width: 48px;
}
.swiper-pagination-bullet {
background: #ffffff;
}
.swiper-pagination-bullet-active {
background: var(--background-color);
}

.swiper-fs {
width: 100%;
height: 80px;
position: relative;
overflow: hidden;
padding-right: 30px;
}
.swiper-fs .swiper-slide-fs {
width: 90%;
border-radius: 14px;
}
@media (min-width: 768px) {
.swiper-fs .swiper-slide-fs {
    width: 45%;
    border-radius: 14px;
}
}
.swiper-fs img {
width: 60px;
height: 60px;
border-radius: 8px;
position: absolute;
object-fit: cover;
left: 10px;
top: 50%;
transform: translateY(-50%);
}
.swiper-fs .name-fs {
position: absolute;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
left: 80px;
top: 20px;
}
.swiper-fs .subname-fs {
position: absolute;
left: 80px;
bottom: 20px;
}

.animate-flash-flicker {
animation: flash-flicker 5s linear infinite;
}
@keyframes flash-flicker {
0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
opacity: .99;
filter: drop-shadow(0 0 1px rgba(255, 145, 77, 1)) drop-shadow(0 0 15px rgba(255, 49, 49, 1)) drop-shadow(0 0 1px rgba(255, 145, 77, 1));
}
20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: .4;
    filter: none;
}
}

.fs-countdown {
display: flex;
justify-content: center;
align-items: center;
}
.fs-countdown .time {
font-size: 1em;
color: white;
padding: 0.3em 0.8em;
background: var(--background-color);
border-radius: 0.3em;
}
.fs-countdown .separator {
font-size: 1em;
color: white;
padding: 0.3em;
}

.tab {
    padding: 8px 16px;
    border-radius: 20px;
}
.tab.active {
color: #fff;
background: var(--background-color);
}

.cards-games {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 12px;
grid-row-gap: 12px;
}
@media (min-width: 640px) {
.cards-games {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}
}
@media (min-width: 768px) {
.cards-games {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
}
@media (min-width: 1024px) {
.cards-games {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}
}
@media (min-width: 1180px) {
.cards-games {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
}
.card {
min-height: 150px;
border-radius: 14px;
overflow: hidden;
--tw-bg-opacity: 1;
background-color: rgb(52 55 59/var(--tw-bg-opacity));
}
@media (min-width: 768px) {
.card {
    height: 210px;
}
}
@media (min-width: 1024px) {
.card {
    height: 240px;
}
}

.overlay {
height: 30%;
width: 100%;
overflow: hidden;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
transition: all 2s ease;
}
.text-produk {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
text-align: center;
}

.ribbon {
position: absolute;
right: -5px; top: -5px;
z-index: 1;
overflow: hidden;
width: 75px; height: 75px;
text-align: right;
}
.ribbon span {
font-size: 10px;
font-weight: bold;
color: #FFF;
text-transform: uppercase;
text-align: center;
line-height: 20px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
width: 100px;
display: block;
background: #79A70A;
background: linear-gradient(#F70505 0%, #F70505 100%);
box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
position: absolute;
top: 19px; right: -21px;
}
.ribbon span::before {
content: "";
position: absolute; left: 0px; top: 100%;
z-index: -1;
border-left: 3px solid #F70505;
border-right: 3px solid transparent;
border-bottom: 3px solid transparent;
border-top: 3px solid #F70505;
}
.ribbon span::after {
content: "";
position: absolute; right: 0px; top: 100%;
z-index: -1;
border-left: 3px solid transparent;
border-right: 3px solid #F70505;
border-bottom: 3px solid transparent;
border-top: 3px solid #F70505;
}
.bg-section-one {
background: rgb(30,32,34);
background: linear-gradient(0deg, rgba(30,32,34,1) 0%, rgba(52,55,59,0.8475623497596154) 100%);
}
